<div>
  <div>
    <h1>
      List of all bids
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bid
    </h2>

    <form action="/insert_bid" method="post">
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="reciever_id_box">
          Reciever
        </label>

        <input type="text" id="reciever_id_box" name="query_reciever_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <button>
        Create bid
      </button>
    </form>
  </div>
</div>

  <div>
      <div>
  <table class="table align-middle table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product</th>
          <th scope="col">Sender </th>
          <th scope="col">Reciever</th>
          <th scope="col">Status</th>
          <th scope="col">Created at</th>
          <th scope="col">Updated at</th>
        </tr>
      </thead>
      <tbody>
      <% @list_of_bids.each do |a_bid| %>
      <tr>
        <td><%= a_bid.id %></td>
        <td><%= a_bid.product_id %></td>
        <td><%= a_bid.sender_id %></td>
        <td><%= a_bid.reciever_id %></td>
        <td><%= a_bid.status %></td>
        <td><%= time_ago_in_words(a_bid.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_bid.updated_at) %> ago</td>
        <td>
          <a href="/bids/<%= a_bid.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-YebtrlqtuHTj2ZE2hKqPZK30KnXRdzUTtg&usqp=CAU" class="rounded" height="200"></center>
