<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
 <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-left">
            <h1 class="fw-bold mb-6">List of all bids</h1>
            <h4 class="fw-light mb-5">Add new bid at the bottom of this page</h4>

<!--

<div>
  <div>
    <h1>
      List of all bids
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bid
    </h2>

    <form action="/insert_bid" method="post">
      <div>
        <label for="product_id_box">
          Product
        </label>

        <input type="text" id="product_id_box" name="query_product_id">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="reciever_id_box">
          Reciever
        </label>

        <input type="text" id="reciever_id_box" name="query_reciever_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <button>
        Create bid
      </button>
    </form>
  </div>
</div>
-->
  <div>
      <div>
  <table class="table align-middle table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col"> Bid Number</th>
          <th scope="col">Product</th>
          <th scope="col">Sender </th>
          <th scope="col">Reciever</th>
          <th scope="col">Status</th>
          <th scope="col">Created at</th>
          <th scope="col">Updated at</th>
          <th scope="col">Details</th>

        </tr>
      </thead>
      <tbody>
      <% @list_of_bids.order(:bid_id).reverse_order.each do |a_bid| %>
      <tr>
        <td><%= a_bid.id %></td>
        <td><%= a_bid.product.try(:title) || 'Bid Deleted' %></td>
        <td><%= a_bid.sender.name %></td>
        <td><%= a_bid.reciever.name %></td>
        <td><%= a_bid.status %></td>
        <td><%= time_ago_in_words(a_bid.created_at) %> ago</td>
        <td><%= time_ago_in_words(a_bid.updated_at) %> ago</td>
        <td>
          <a href="/bids/<%= a_bid.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
        <% if @current_user != nil %>
          <br><h2 class="fw-bold mb-6">Add a new bid</h2>
            <form action="/insert_bid" method="post">


              <!-- 2 column grid layout with text inputs -->
              <div class="col">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="title_box" class="form-control" name="query_product_id" placeholder="Enter product" type="text"/>
                    <label class="form-label" for="form3Example1">Product</label>
                  </div>
                </div>
              
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="price_box" class="form-control" name="query_status" placeholder="Enter status" type="text"/>
                    <label class="form-label" for="form3Example2">Status</label>
                  </div>
                </div>
                
              <!-- Create product button -->
              <button href="/bids" type="submit" class="btn btn-primary btn-block mb-4">
                Create Bid
              </button>
          <% end %>

<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-YebtrlqtuHTj2ZE2hKqPZK30KnXRdzUTtg&usqp=CAU" class="rounded" height="200"></center>
