<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
 <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-left">
            <h1 class="fw-bold mb-6">List of all products</h1>
            <h4 class="fw-light mb-5">Add new product at the bottom of this page</h4>




<!-- ################## 
<div>
  <div>
    <h1>List of all products</h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new product
    </h2>

    <form action="/insert_product" method="post">
      
      
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <button>
        Create product
      </button>
    </form>
  </div>
</div>
-->
<div>
  <div>
<table class="table align-middle table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Image </th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Owner</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
  <% @list_of_products.each do |a_product| %>
        <tr>
          <td><%= a_product.id %></td>
          <td><%= a_product.title %></td>
          <td><img src="<%= a_product.image %></td>" class="rounded" height="200">
          <td><%= a_product.description %></td>
          <td><%= a_product.price %></td>
          <td><%= a_product.owner_id %></td>
          <td><%= time_ago_in_words(a_product.created_at) %> ago</td>
          <td><%= time_ago_in_words(a_product.updated_at) %> ago</td>
          <td>
            <a href="/products/<%= a_product.id %>">
              Show details
            </a>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>

            <br><br><h2 class="fw-bold mb-5">Add a new product</h2>
            <form action="/products" method="post">


              <!-- 2 column grid layout with text inputs -->
              <div class="col">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="title_box" class="form-control" name="query_title" placeholder="Enter product title" type="text"/>
                    <label class="form-label" for="form3Example1">Title</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="image_box" class="form-control" name="query_image" placeholder="Enter image address" type="text"/>
                    <label class="form-label" for="form3Example2">Image</label>
                  </div>
                </div>
              
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="description_box" class="form-control" name="query_description" placeholder="Enter item description" type="text"/>
                    <label class="form-label" for="form3Example2">Description</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="price_box" class="form-control" name="query_price" placeholder="Enter your price" type="text"/>
                    <label class="form-label" for="form3Example2">Price</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="owner_id_box" class="form-control" name="query_owner_id" placeholder="Enter the owner name" type="text"/>
                    <label class="form-label" for="form3Example2">Owner</label>
                  </div>
                </div>
              <!-- Create product button -->
              <button href="/products" type="submit" class="btn btn-primary btn-block mb-4">
                Create Product
              </button>

<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-YebtrlqtuHTj2ZE2hKqPZK30KnXRdzUTtg&usqp=CAU" class="rounded" height="200"></center>
