<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

 <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-left">
            <h1 class="fw-bold mb-6">The <%= @the_product.title %> </h1>
            <h4 class="fw-light mb-5">Edit product at the bottom of this page</h4>

                <div>
                  <div>
                    <a href="/products">
                      Go back to product list
                    </a>
                  </div>
                  <div>
                    <a href="/delete_product/<%= @the_product.id %>">
                      Delete product
                    </a>
                  </div>
                </div>

                <br><dl>
                  <dt>
                    Title
                  </dt>
                  <dd>
                    <%= @the_product.title %>
                  </dd>

                  <dt>
                    Image
                  </dt>
                  
                  <img src="<%= @the_product.image %>" class="rounded" height="100">


                  <dt>
                    <br>Description
                  </dt>
                  <dd>
                    <%= @the_product.description %>
                  </dd>

                  <dt>
                    Price
                  </dt>
                  <dd>
                    <%= @the_product.price %>
                  </dd>

                  <dt>
                    Owner 
                  </dt>
                  <dd>
                    <%= @the_product.owner.name %>
                  </dd>

                  <dt>
                    Created at
                  </dt>
                  <dd>
                    <%= time_ago_in_words(@the_product.created_at) %> ago
                  </dd>

                  <dt>
                    Updated at
                  </dt>
                  <dd>
                    <%= time_ago_in_words(@the_product.updated_at) %> ago
                  </dd>
                </dl>


          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
   <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-left">
            <br><h2 class="fw-bold mb-5">Edit product</h2>

            <form action="/modify_product/<%= @the_product.id %>"  method="post" >
     

              <!-- 2 column grid layout with text inputs -->
              <div class="col">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="title_box" class="form-control" name="query_title" placeholder="Enter product title" type="text" value="<%= @the_product.title %>"/>
                    <label class="form-label" for="title_box">Title</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="image_box" class="form-control" name="query_image" placeholder="Enter image address" type="text" value="<%= @the_product.image %>"/>
                    <label class="form-label" for="image_box">Image address</label>
                  </div>
                </div>
              
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="description_box" class="form-control" name="query_description" placeholder="Enter product description" type="text" value="<%= @the_product.description %>"/>
                    <label class="form-label" for="description_box">Description</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="price_box" class="form-control" name="query_price" placeholder="Enter status" type="text"value="<%= @the_product.price %>"/>
                    <label class="form-label" for="price_box">Price</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="owner_name_box" class="form-control" name="query_owner_name" placeholder="Enter owner" type="text"value="<%= @the_product.owner.name %>"/>
                    <label class="form-label" for="owner_name_box">Owner </label>
                  </div>
                </div>
              
              <!-- Create edit button -->
              <button href="/products" type="submit" class="btn btn-primary btn-block mb-4">
                Update product
              </button>

<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-YebtrlqtuHTj2ZE2hKqPZK30KnXRdzUTtg&usqp=CAU" class="rounded" height="200"></center>
          

<!--
    <h1>
      
    </h1>

    <div>
      <div>
        <a href="/products">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_product/<%= @the_product.id %>">
          Delete product
        </a>
      </div>
    </div>

    
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit product
    </h2>

    <form action="/modify_product/<%= @the_product.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_product.title %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_product.image %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_product.description %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_product.price %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_product.owner_id %>">
      </div>

      <button>
        Update product
      </button>
    </form>
  </div>
</div>

<hr>
