<div>
  <div>
    <h1>
      Product #<%= @the_product.id %> details
    </h1>

    <div>
      <div>
        <a href="/products">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_product/<%= @the_product.id %>">
          Delete product
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_product.title %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_product.image %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_product.description %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_product.price %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_product.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_product.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit product
    </h2>

    <form action="/modify_product/<%= @the_product.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_product.title %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_product.image %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_product.description %>">
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_product.price %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_product.owner_id %>">
      </div>

      <button>
        Update product
      </button>
    </form>
  </div>
</div>

<hr>
