<link rel="stylesheet" href="css/bootstrap.css">

<script src="/js/bootstrap.bundle.js"></script>

<!doctype html>
<html lang="en">
<title>Biddy!</title>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
  </body>
</html>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>


<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <%= link_to "Home", "/", class: "navbar-brand" %>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarprimaryDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My business today
            </a>
            <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarprimaryDropdownMenuLink">
              <li><a class="dropdown-item" href="/products">Look at products</a></li>
              <li><a class="dropdown-item" href="/bids">Look at bids</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      

      <% if @current_user == nil %>
        <li class="nav-item">
            <%= link_to "Sign up", user_sign_up_path, class: "navbar-brand" %>
        </li>
        <li class="nav-item">
            <%= link_to "Sign in", user_sign_in_path, class: "navbar-brand" %>
        </li>
      <% else %>

         <li class="nav-item">
            <%= link_to "Sign out", user_sign_out_path, class: "navbar-brand" %>
        </li>
      <% end %>
    </ul>



        </form>
        
      </div>
    </div>
  </nav>

  <br/>

      <p style="color :green"><%= notice %></p>

      <p style="color :red"><%= alert %></p>
      
    <%= yield %>
  </body>
</html>
